<div class="main">
    <div class='left-div'>multipleupload</div>
    <div class="upload-div">
        <form enctype="multipart/form-data" method="POST">
            <input type="file" required accept="*/*" name="imagetoupload" multiple>
            <button type='submit'>upload</button>
        </form>
    </div>
</div>